@media screen and (min-width: 700px) {
  #menu {
    display: none;
  }

  #nav-menu {
    display: flex;
    flex-direction: row;
    gap: 1rem;
  }

  header {
    justify-content: space-between;
  }

  .gallery {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    max-width: 1100px;
  }
}
